img {
    height: 80px;
    margin-right: 20px;
   
 
  }
 
 
 h1{
    text-align:center;
    font-size:6em;
 }
  .navbar ul li {
    margin-right: 10px; 
    display:inline;
    justify-content:space-evenly;
    max-width: 50%;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight:bolder;
   
   
  }

  
 